.main {
  min-height: 85vh;
}

.nav {
  background-color: var(--color-orange);
  font-weight: bold;
}

.footer {
  background-color: black;
}

.nav,
.footer {
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  color: white;
}
